@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montserrat&family=Poppins:ital,wght@0,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: black;
    background-color: rgb(202, 200, 200);
}

a {
    text-decoration: none;
}
a.active {
    color: black;
}

.icon {
    height: 2em;
    will-change: filter;
    transition: filter 300ms;
    background-color: grey;
}

.small-button {
    background-color: grey;
    color: white;
    font-size: 1rem;
    width: 2rem;
}
.medium-button {
    background-color: grey;
    color: white;
    font-size: 1rem;
}
.large-button {
    background-color: grey;
    color: white;
    font-size: 1rem;
    padding: 1rem;
}

.none {
    grid-column: 2/4;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-menu {
    background-color: grey;
    color: black;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    gap: 1rem;
}
.nav-link {
    background-color: grey;
    color: white;
}
.nav-logo {
    width: 100px;
    background-color: grey;
}
.nav-cart {
    background-color: grey;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}
.nav-cart span {
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
}
.nav a {
    background-color: grey;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
    background-color: rgb(202, 200, 200);
}
.item-list {
    display: grid;
    grid-template-columns: repeat( 4 , 1fr);
    max-width: 80%;
}
.item-list h2 {
    grid-column: 2/4;
}
.item {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 25px;
}
.item-card {
    background-color: white;
}
.item-card-img {
    width: 100px;
}
.item-card-title {
    background-color: white;
}
.item-card-price {
    background-color: white;
}

.detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
    background-color: rgb(202, 200, 200);
}
.detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    max-width: 800px;
    background-color: white;
    border-radius: 25px;
}
.detail-card {
    display: grid;
    grid-template-columns: repeat( 2 , 1fr);
    align-items: center;
    text-decoration: none;
    text-align: center;
    background-color: white;
}
.detail-card p {
    background-color: white;
}
.detail-card h3 {
    background-color: white;
}
.detail-card-desc {
    grid-row: 2;
}
.detail-card-price {
    grid-row: 6;
    background-color: white;
}
.detail-card-stock {
    grid-row: 8;
}
.detail-card-img {
    grid-row: 1/10;
    width: 250px;
    justify-self: center;
}
.detail-count {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    background-color: white;
}
.detail-count h4 {
    padding: 1rem;
    background-color: white;
}
.detail-button large-button {
    background-color: white;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    margin-inline: 2rem;
}
.cart a {
    align-self: center;
}
.cart-item {
    display: grid;
    grid-template-columns: repeat( 7 , 1fr);
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 25px;
    background-color: white;
}
.cart-item-title {
    grid-column: 1/4;
    background-color: white;
}
.cart-item-info {
    display: flex;
    justify-content: center;
    background-color: white;
}
.cart-item .medium-button {
    grid-column: 7;
}
.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-inline: 2rem;
}
.cart-empty p {
    margin-bottom: 1rem;
}
.cart-foot {
    display: flex;
    justify-content: end;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 25px;
    background-color: white;
}
.cart-foot h2 {
    background-color: white;
    margin-right: 7rem;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.checkout-container h1 {
    margin-bottom: 1rem;
}
.checkout-container h3 {
    margin-bottom: 1rem;
}
.checkout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 40%;
    max-width: 50%;
    margin-block: 1rem;
}
.checkout-form input {
    padding: 0.3rem;
    background-color: white;
}
.checkout-form label {
    padding: 0.3rem;
}