@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montserrat&family=Poppins:ital,wght@0,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    background-color: black;
    color: whitesmoke;
}

.icon {
    height: 2em;
    will-change: filter;
    transition: filter 300ms;
  }
  
.nav {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    background-color: white;
}

.nav-item {
    background-color: white;
    color: black;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    gap: 1rem;
}

.nav-link {
    background-color: white;
    color: black;
}

.nav-logo {
    width: 100px;
    background-color: white;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.card {
    display: flex;
}
.card-item {
    background-color: white;
}
.card-img {
    width: 150px;
}